<section class="section-intro">
  <h2 class="main-heading">Editar info</h2>
</section>
<img class="card-image" src="{{image}}">
<div class="form-container-edit-art">
  <form class="art-form" action="/arts/{{_id}}/edit-art" method="POST" enctype="multipart/form-data">
    <label class="form-label" for="author"><input type="text" name="author" value={{author}}></label>
    <label class="form-label" for="title"><input type="text" class="input-art-title" name="title"
        value={{title}}></label>
    <label class="form-label" for="contact"><input type="text" name="contact" value={{contact}}></label>
    <div class="select-input">
      <select id="art-type" name="artType">
        <option value={{artType}} selected>{{artType}}</option>
        <option value="Pintura">Pintura</option>
        <option value="Fotografía">Fotografía</option>
        <option value="Escultura">Escultura</option>
        <option value="Ilustración">Ilustración</option>
        <option value="Collage">Collage</option>
      </select>
    </div>
    <label for="image" class="label-attatch"><input class="input-attatch" type="file" name="image"
        placeholder="Sube la imagen de la obra">
    </label>
    <button type="submit" class="btn-filled">Actualizar datos</button>
  </form>
</div>