<h2>{{title}}</h2>
<p class="home-description">Welcome to {{title}}</p>

<section class="art-list">
  {{#each arts}}
  <article>
    <p>{{title}}</p>
    <p>{{author}}</p>
    <p>{{artType}}</p>
    <form class="art-form" action="/" method="POST">
   <img src="{{image}}">
    <button type="submit">Añadir a favoritos</button>
   </form>
  </article>
  {{/each}}

</section>


