<section class="section-intro">
  <h2 class="main-heading">Galeria</h2>
</section>

<nav class="arts-navbar">
  <ul class="arts-navbar-list">
    <li class="arts-navbar-item">
      <button class="uploaded-art-btn nav-button highlight" id="a"><img class="uploaded-art-icon"
          src="/images/image-icon.svg" alt="Upload arts icon">artes subidas</button>
    </li>
    <li class="arts-navbar-item">
      <button class="favourited-art-btn nav-button" id="b"><img class="favourited-art-icon" src="/images/heart-icon.svg"
          alt="Upload arts icon">artes favoritas</button>
    </li>
  </ul>
</nav>

<div id="a-div" class="hideDiv">
  <section class="created-art-list visible">
    <h3 class="section-title">Artes subidas</h3>
    {{#each userArts.arts}}
    <article class="card created-art">
      <img class="card-image" src={{image}} alt={{title}}>
      <div class="card-content">
        <div class="card-owner">
          <p class="card-title">{{author}} · {{title}}</p>
        </div>
        <div class="card-content-secondary">
          <p class="card-category">#{{artType}}</p>
          <div class="form-group">
            <a class="edit-art-btn" href="/arts/{{id}}/edit-art"><img class="edit-art-icon" src="/images/edit-icon.svg"
                alt="Edit arts info icon"></a>
            <form action="/arts/{{id}}/delete" method="POST">
              <button class="delete-btn" type="submit"><img class="delete-art-icon" src="/images/trash-icon.svg"
                  alt="Delete arts icon"></button>
            </form>
          </div>
        </div>
      </div>
    </article>
    {{/each}}
  </section>
</div>

<div id="b-div" class="hideDiv">
  <section class="favorite-list hidden">
    <h3 class="section-title">Artes favoritas</h3>
    {{#each userFavorites.favorites}}
    <article class="card favourite-card">
      <img class="card-image" src={{image}} alt={{title}}>
      <div class=" card-content">
        <div class="card-owner">
          <p class="card-title">{{author}} · {{title}}</p>
        </div>
        <div class="card-content-secondary">
          <div class="card-content-info">
            <p class="card-category">#{{artType}}</p>
            <p class="card-contact">{{contact}}</p>
          </div>
          <div class="form-group">
            <form class="user-actions-form" action="/arts/{{_id}}/favorite-art/delete" method="POST">
              <button class="delete-btn delete-favourite" type="submit"><img class="delete-art-icon"
                  src="/images/trash-icon.svg" alt="Delete arts icon"></button>
            </form>
          </div>
        </div>
      </div>
    </article>
    {{/each}}
  </section>
</div>
</div>

<script src="../javascripts/main.js"></script>